<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsd.admin.dao.RoleMapper">

<select id="selectRolesByUserId" parameterType="java.lang.Integer" resultType="com.wsd.admin.pojo.Role">
    SELECT tr.*
    FROM t_user_role tur,
    t_role tr
    where tur.roleId = tr.roleId
    AND tur.userId = #{userId}
</select>
</mapper>